<h1>My Crypto Portfolio</h1>
<fieldset>
<legend>Log In</legend>
<%= form_for(:user) do |f| %>
    <%= f.label :email %>:<br />
    <%= f.text_field :email %><br />
    <%= f.label :password %>:<br />
    <%= f.password_field :password %><br />
    <%= f.submit "Log In" %>
<% end %>
</fieldset>
