<h1><%= current_user.username %>'s Portfolio of Trades</h1>


<% current_user.trades.each do |trade| %>
    <%= trade.quantity %>
    <%= trade.crypto.name %><br>
    <%= date_time(trade) %><br>
    <%= trade.description %>
    <p><%= link_to "Edit", edit_trade_path(trade) %>
    <%= link_to "Delete", trade_path(trade), method: 'delete' %></p>
<% end %>

