<h1><%= @crypto.name %></h1>

<%= link_to "New Trade", new_crypto_trade_path(@crypto) %>

<p>Trades:</p>
<%= @crypto.trades.each do |trade| %>
    <div><%= trade.description %></div>
    <div><%= trade.quantity %></div>
<% end %>
    

