<h1>Edit</h1>

<%= form_for(@trade) do |f| %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br>
    <br>
    <%= f.label :amount %>
    <%= f.number_field :amount %>
    <br>
    <br>
    <%= f.label :price %>
    <%= f.number_field :price %>
    <br>
    <br>
    <%= f.submit %>
<% end %>