
<% if @crypto %>
    <h1><%= @crypto.symbol %> - $
    <%= @crypto.price %> USD</h1>
    <h3><%= @crypto.description %></h3>

    <h3><%= link_to "Make a New Trade", new_crypto_trade_path(@crypto) %></h3>

    <h3>Last 10 <%= @crypto.name %> Trades</h3>
<% else %>
    <h3>Last 10 Trades</h3>
<% end %>
<div class="container">
    <div class="page-header">

<h3>See what others are trading:</h3>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Crypto</th>
                <th>Date & Time</th>
            </tr>
        </thead>
        <tbody> 
            <% @trades.each do |trade| %>
                <tr><th><%= trade.quantity %></th>
                <td><%= trade.crypto.name %></td>
                <td><%= date_time(trade) %></td>
            <% end %></tr>
        </tbody>
    </table>
</div>    


    
    
    
