<% if @crypto %>
    
    <h1><%= @crypto.symbol %> - $
    <%= @crypto.price %> USD</h1>
    <h3><%= @crypto.description %></h3>

    <h3><%= link_to "Make a New Trade", new_crypto_trade_path(@crypto) %></h3>

    <h3>Last 10 <%= @crypto.name %> Trades</h3>

<% else %>
    <h1>Last 10 Trades</h1>
<% end %>
    <h3>See what others are trading:</h3>
    <ul>
    <% @trades.each do |trade| %>
        <li><%= trade.quantity %>
        <%= trade.crypto.name %> on
        <%= date_time(trade) %></li>
    <% end %>
    </ul>

    
    
    
