<h1>Make a New Trade</h1>

<%= form_for(@trade) do |f| %>
    <h3><%= current_crypto.name %></h3>
    <h3><%= current_crypto.value %></h3>
    <br>
    <br>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br>
    <br>
    <%= f.label :amount %>
    <%= f.number_field :amount %>
    <br>
    <br>
    <%= f.label :price %>
    <%= f.number_field :price %>
    <br>
    <br>
    <%= f.submit %>
<% end %>

