<!DOCTYPE html>
<html>
  <head>
    <title>MyCryptoPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <head>
  
  
 
  </head>
  <body>
  
    <div id="header" class="grid_5">
      <h1>My Crypto Portfolio</>
        
        <% if logged_in %>
        <div id="nav">
        <ul> 
          <li><%= link_to "Crypto Market", markets_path %></li>
          <li><%= link_to "Make a Trade", cryptos_path %></li>
          <li><%= link_to "My Trades", user_path(current_user)%></li>
          <li><%= link_to "Last 10 Trades", trades_path %></li>
          <li><%= link_to "Log Out", logout_path, method: :delete %></li>
          </ul>
        </div>
        <% end %>
        
    </div>
  
  
  <div class="wrapper">
    <% flash.each do |type, msg| %>
      <%= msg %>
    <% end %>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-8">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
