<!DOCTYPE html>
<html>
  <head>
    <title>MyCryptoPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
  <p>
  <ul>
  <% if logged_in %>
  <li><%= link_to "Crypto Market", markets_path %></li>
    <li><%= link_to "Make a Trade", new_trade_path %></li>
    <li><%= link_to "See All Recent Trades", trades_path %></li>
    <li><%= link_to "Your Trade Portfolio", user_path(@user) %></li>
    <li><%= link_to "Edit Your Portfolio", edit_trade_path(@trade) %></li>
    <li><%= link_to "Log Out", logout_path, method: :delete %></li>
  <% end %>
  </ul>
</p>
</nav>
  <div class="wrapper">

  <% flash.each do |type, msg| %>
    <%= msg %>
  <% end %>
    
    <%= yield %>
  
    </body>
</html>
